<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ 'title'|trans }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="todo-list">
                <h1>{{ 'title'|trans }}</h1>
                {{ component('todo_list', {
                    'todoList': todo_list,
                    'form': form
                }) }}
            </div>
        {% endblock %}
    </body>
</html>
