<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ 'title'|trans }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="todo-list">
                <h1>{{ 'title'|trans }}</h1>
                {{ component('todo_list', {
                    'todoList': todo_list,
                    'form': form
                }) }}
            </div>
            <menu class="locale-switcher">
                {% for locale in ['en', 'cs'] %}
                    <li{% if app.request.locale is same as(locale) %} class="is-active"{% endif %}><a href="{{ path(constant('App\\Controller\\IndexController::ROUTE_NAME'), { '_locale': locale }) }}">{{ locale|upper }}</a></li>
                {% endfor %}
            </menu>
        {% endblock %}
    </body>
</html>
