<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.items) }}
        <button type="submit" class="btn btn-success">{{ 'label.save'|trans }}</button>
        {% if this.isListSaved %}
            <button type="button" class="btn btn-danger" data-action="live#action" data-action-name="delete(id={{ todoList.id }})">{{ 'label.delete'|trans }}</button>
        {% endif %}
        <button type="button" class="btn btn-primary" data-action="live#action" data-action-name="new">{{ 'label.new'|trans }}</button>
    {{ form_end(form) }}
    {% for list in this.lists %}
        <p>{{ list.name }}<a href="{{ path(constant('App\\Controller\\IndexController::ROUTE_NAME'), { 'id': list.id }) }}" class="btn btn-secondary">{{ 'label.edit'|trans }}</a></p>
    {% endfor %}
</div>